/*******************************************************************************
 * Bootstrap styles 
 ******************************************************************************/
body { 
    /*
     * Potential fonts: 
     * 
     * Adobe: 
     * Arvo
     * Linden Hill
     * Lusitana
     *
     * Google: 
     * PT Serif (used by Evernote)
     */
    font-family: arvo, serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

aside {
    font-family: josefin-slab, serif;
}

/* For the Evernote example */
blockquote {
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    border: 6px solid #eee;
    padding-right: 15px;
    /*background-color: #fcdb75;*/
}

/* Headers */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #f89406; /* "Bootstrap" Orange */
    margin-top: 24px;
    margin-bottom: 12px;
}

code {
    /*color: #f85106;*/ /* Complimentary "Bootstrap" Orange */
    color: #333333; /* Bootstrap codeblock gray */
}

hr {
    border-top: 1px solid #666666;
}

/*******************************************************************************
 * Custom styles 
 ******************************************************************************/
.code-option {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
} 