<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>{{ site.project.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="" />
    <meta name="author" content="{{ site.author.name }}" />
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.less.css" />
    <!--
    Include jquery at top so the $ variable can be used in the body.
    When using templates like this, you can't always wait for the doc
    to fully load.
    -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
    <!-- Fork me ribbon -->
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="{{ site.project.fork }}">Fork me on GitHub</a>
        </div>
    </div>
    <!-- Banner -->
    <div class="jumbotron">
        <div class="masthead">
            <div class="container">
                <!--<div class="span4">-->
                    <h1>{{ site.project.name }}</h1>
                    <p>{{ site.project.description }}</p>
                    <p>
                        <a class="btn btn-primary btn-large"
                            href="{{ site.project.download }}">Download {{ site.project.name }}</a>
                    </p>
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        {{ content }}
        <!-- TODO: Footer -->
        <div class="row-fluid">
            <div class="span1"></div>
            <footer class="span10">
                <a href="{{ site.author.site }}">MattNorris.me</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/{{ site.author.github }}"><i class="icon-github-alt"></i> GitHub</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="icon-linkedin-sign"></i> LinkedIn</a>
            </footer>
            <div class="span1"></div>
    </div>
</body>

<!-- Scripts -->
<script src="assets/js/bootstrap.min.js"></script>
<script>
    $(function() {
        // Highlight the active nav link.
        // TODO: Make this a plugin.
        var url = window.location.pathname;
        var filename = url.substr(url.lastIndexOf('/') + 1);
        $('.navbar a[href$="' + filename + '"]').parent().addClass("active");

        // Highlight the "Read the rationale" sections.
        $('a:contains("Read the rationale.")').each(function() {
            $(this).parent().addClass("alert alert-info");
        }).parent().prepend('<i class="icon-question-sign"></i>&nbsp;');
    });
</script>
{%include google-analytics.html %}
</html>